doctype html
html(lang='en')
  include ../includes/head
  body
    .splash
      block splash
    header
      block header
    main
      block main
    footer
      block footer
    include ../includes/foot
